:root {
  --purple: #a855f7;
  --purple-dark: #9333ea;
  --primary-color-black: #000;
  --primary-color-white: #fff;
  --primary-color-red: #dc2626;
  --secondary-color-purple: #d7b7f7;
  --secondary-color-white: #f3f3f3;
  --secondary-color-red: #b42318;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
